[submodule "modules/mWindowsAPI"]
	path = modules/mWindowsAPI
	url = https://github.com/SkyLined/mWindowsAPI
[submodule "modules/oConsole"]
	path = modules/oConsole
	url = https://github.com/SkyLined/oConsole
[submodule "modules/cBugId"]
	path = modules/cBugId
	url = https://github.com/SkyLined/cBugId/
[submodule "modules/mProductDetails"]
	path = modules/mProductDetails
	url = https://github.com/SkyLined/mProductDetails/
[submodule "modules/mDebugOutput"]
	path = modules/mDebugOutput
	url = https://github.com/SkyLined/mDebugOutput/
[submodule "modules/mMultiThreading"]
	path = modules/mMultiThreading
	url = https://github.com/SkyLined/mMultiThreading/
[submodule "modules/mFileSystem2"]
	path = modules/mFileSystem2
	url = https://github.com/SkyLined/mFileSystem2/
