[submodule "modules/Kill"]
	path = modules/Kill
	url = https://github.com/SkyLined/Kill
[submodule "modules/FileSystem"]
	path = modules/FileSystem
	url = https://github.com/SkyLined/FileSystem
[submodule "modules/cBugId"]
	path = modules/cBugId
	url = https://github.com/SkyLined/cBugId/
